@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Geist Mono", monospace;
      /* font-kerning: normal; */
    }

    
}

@layer components{
    /* .gradient-bg{
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../img/bg.svg");
    } */
}

@layer utilities{
    .hamburger-line{
        @apply w-[30px] h-[2px] my-2 block bg-black;
    }
}

.navbar-fixed{
    @apply fixed z-[9999];
    @apply bg-white/20 backdrop-blur-sm shadow-sm transition-all duration-200;
}

/* .navbar-glass{
    @apply bg-white/20 backdrop-blur-sm shadow-sm transition-all duration-200;
} */

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}